@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

.center p {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  font-size: 1em;
}

.cinemas-home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
  margin: 0 auto;
  padding: 2rem;
}

.card-button {
  padding: 1em;
  box-shadow: 0 0 0.5em var(--kinocoral);
  background-color: var(--kinoyellow);
  border-radius: 8px;
  border: 1px solid var(--kinocoral);
  font-size: 150%;
  width: 25%;
  min-width: 120px;
  transition: 0.35s;
  font-weight: 700;
  text-decoration: none;
}
.card-button:hover {
  background-color: var(--kinoyellow);
  opacity: 0.9;
  border-color: var(--kinoyellow);
}
.card-button:active {
  background-color: var(--kinoyellow);
  border-color: var(--kinocoral);
  box-shadow: 0 0 1em var(--kinoorange) inset;
}

.button-container {
  margin-top: 10%;
  margin-left: 30%;
  width: 30%;
  min-width: 120px;
}

.button-of-joy {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 1.2em;
  border: 1px solid var(--kinocoral);
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--kinocoral);
  transition: 0.25s;
  height: 50%;
}

.button-of-joy:hover {
  border-color: var(--kinoblue);
}

.button-of-joy:focus,
.button-of-joy:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
