.movie-selection-list-container {
  padding-top: 2em;
  width: 35%;
}

.movie-selection-list-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.movie-selection-list-container li {
  flex: 0 0 calc(30% - 1em);
  padding: 0.4em;
  margin: 0.5em;
  /* min-height: 3%; */
  /* height: 25%; */
  /* max-height: 40%; */
  border-radius: 10px;
  border: 1px solid var(--kinocoral);
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--kinoblue);
  transition: 0.25s;
  cursor: pointer;
  text-align: center;
}

.movie-poster-on-list {
  width: 100%;
}
